<section>
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-12">
        <h1 class="lh-lg mb-5">Little about me</h1>
      </div>
      <div
        class="col-12 col-lg-6 mt-4 text-center align-self-center"
        style="z-index: 3"
      >
        <div>
          <p class="text-start">
            ▪️ Recognized by
            <a
              href="https://www.linkedin.com/in/hatem-ahmad/overlay/1635506821356/single-media-viewer/"
              target="_blank"
              rel="noopener noreferrer"
              class="text-danger"
              >_VOIS Egypt</a
            >
            as Most Valuable Professional (MVP) <br />
          </p>
          <p class="text-start">
            ▪️ I have a history of being involved in building, developing and
            maintaining data-oriented systems in diverse areas of business
            domains and a wide variety of programming languages. <br />
          </p>
          <p class="text-start">
            ▪️ I earned Software Engineering & Development skills by being
            self-driven and making things happen.
          </p>
          <p class="text-start">
            ▪️ I have Bachelor degree of Mathematics and Computer Science 2014
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
